# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Databases
*.db
*.sqlite3

# Docker
.docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# Node / Frontend
node_modules/
dist/
.eslintcache
.vite/
